body {color: black; background-color: white	;}
h3 {color: red;}
h1 {
  background-color: #DEB887	;
  border-radius: 0px
}
h2 {
  background-color: #D8C3A5	;
  border-radius: 0px;
}

h6 {
  background-color: lightgrey	;
  border-radius: 0px;
}

.testoblu{color: blue;}

hr.rounded {
  border-top: 8px;
  border-radius: 0px;
}

.left-column,{
	width: 50px;
	background-color: pink;
	float: left;
}

.right-column {
	width: 50%;
	float: left;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
}

.wrapper-sidebar {
	width: 20%;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}

.wrapper-content {
	padding-top: 10px;
	padding-right: 200px;
	padding-left: 10px;
	padding-bottom: 0px;
	background-color: red;
}

.flickr_badge_image {}
.flickr_badge_image img {border: 0px solid #666666 !important; width: 100%; max-width: 400px; height: auto;}
.flickr_badge_wrapper {width:100px}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.container {
	width: 100%;
	margin: 0 auto;
}


article .right-side{
	width: 100%;
}

article .right-side p.article-numero{
	font-style: italic;
}

article h3{
	color: green
}

.content-preview{
	font-size: 1.1em;
}


	
article  img{
	float: left;
	width: 200px;
	height: 200px;
	vertical-align:middle;
	margin-right: 20px;
	}
	
	
article .article-numero{
	font-style: italic;
}

article .author{
	font-style: italic;
	padding-top: -20px;
	margin: 0px;
	color: green;
}
article .cathegory{
	font-style: italic;
}
article h2{
	color: green;
	}

@media only screen and (max-width:740px) {
	.wrapper-content {
		width: 100%;
		padding-right: 0px;
	}
.wrapper-sidebar {
	display: none;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
}
}
